<%= stylesheet_link_tag 'word.css'%>

	<div id="total">
		<div id="image">
			<h1>Mr. Holmes</h1>
		</div>
		<div id="search">
			<form action="/webs" method="post">
			
				<input type="textfield" name="web[word]" value="Ask Mr. Holmes"  size="60" onfocus="this.value='' "/>
				<input type="submit" value="search" />
			</form>
		</div>
		<div id="source" >
			<p align="right">
				Powered by Sourcebits
			</p>
				
		</div>
	</div>