.pagination {list-style:none; margin:0px; padding:0px;}  
.pagination li{float:left; margin:3px;}  
.pagination li a{   display:block; padding:3px 5px; color:#fff; background-color:#44b0dd; text-decoration:none;}  
.pagination li a.active {border:1px solid #000; color:#000; background-color:#fff;}  
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}

#searchagain
{
	width:100%;
 	height:100px;
}
#ssearch
{
	padding-left: 30px;
}
#lefts
{
	width:10%;
	float:left;
}
#rights
{
	width:50%;
	float:left;
}
#title
{
	text-decoration: underline;
	text-transform:capitalize;
	font-size: 20px;
	color: blue;
}
span
{
   float: left;
  
 
}
a
{
	text-decoration: none;
	color: black;
}
#description
{
	font-size: 15px;
}
#url
{
	font-size: 12px;
	color: green;
}

#image
{
	top: 0px;
	left: 0px;
	font-family: 'Comic Sans','cursive'
}
#search
{
	top: 70px;
	left: 0px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 1px;

}
#source
{
	top: 100px;

	
	
}
#text_field:hover
{
	
	font-weight: italic;
}
#total
{
	position: absolute;
	width:500px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 250px;
	left: 300px;
	
}
#tota 
{

}